<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html" charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="css/style.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="js/functions.js"></script>
		<title>YourSound</title> 
	</head>
	
	<body>
	<!-- Header begin -->
    <div class="navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html">YourSound</a>
				<span>
					<form class="search">
						<input type="text" placeholder="search..."></input>
						<button type="submit"><img src="img/search.png"></img></button>
					</form>
					<span class="Sign">
						<button class="btn btn-info">UserName</button>						
					</span>
				</span>
			</div>
		</div>
	</div>
	
	<!-- Header end -->
	
	<!-- Modal begin -->
	
	<div id="SignInModal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Sign In</h4>
					<button class="close" data-dismiss="modal">x</button>
				</div>
				<div class="modal-body">
					<form>
					<input class="modalData" type="text" placeholder="User name"></input>
					<input class="modalData" type="text" placeholder="Password"></input>
					<button id="signIn" type="submit">Sign In</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div id="SignUpModal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Sign Up</h4>
					<button class="close" data-dismiss="modal">x</button>
				</div>
				<div class="modal-body">
					<form>
						<input class="modalData" type="text" placeholder="User name"></input>
						<input class="modalData" type="text" placeholder="E-mail"></input>
						<input class="modalData" type="password" placeholder="Password"></input>
						<input class="modalData" type="text" placeholder="Repeat password"></input>
						<button id="signUp" type="submit">Sign Up</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal end -->
	
	<!-- Other begin -->
	<div class="container">
			<br>
			<br>
			<br>
		<div class="row">
		<div class="col-md-2">
			<div class="userInformation">
				<div class="userPic"><img src="img/user.png"></img></div>							
				<div>
					<button class="profileButton" onClick='location.href="information.html"'>Change information/Follow</button>				
				</div>
				<div>
					<button class="profileButton" onClick='location.href="following.html"'>Following</button>				
				</div>
				<div>
					<button class="profileButton" onClick='location.href="followers.html"'>Followers</button>				
				</div>
				<div>
					<button class="profileButton" onClick='location.href="addTrack.html"'>Add new</button>				
				</div>
				<hr>
				<div class="informationBlock">
					<div class="field">
						<span>Name:</span>
					</div>
					<div class="value">
						<span>MyName</span>
					</div>			
				</div>
				<hr>
				<div class="informationBlock">
					<div class="field">
						<span>About:</span>
					</div>
					<div class="value">
						<span>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</span>
					</div>			
				</div>			
			</div>
		</div>
		<div class="col-md-10">
			<div class="popular">
			<h5>Popular</h5>
			<div class="post">
				<div class="track">
					<div class="row">
						<div class="col-1"><img class="trackIcon" src="img/song.png"></img></div>
							<div class="col-1 align-self-center">
								<span class="controlButtons">
									<audio src="audio/02. Lil Peep - Save That Shit.mp3" preload="metadata" type="audio/mpeg"></audio>
									<img class="Play" src="img/playbutton.png"></img>
									<img style="display:none;" class="Pause" src="img/pause-button.png"></img>
								</span>
								<span class="timePassSpan">
									<span class="timePass"><span class="minutesPass">0</span><span>:</span><span class="secondsPass">0</span></span>
								</span>
							</div>						
						<div class="col-9 align-self-center">
							<div class="progressBar">
								<div style="width:0%" class="progressBarPassed">
									<!-- progress bar -->
								</div>
							</div>
						</div>
						<div class="col-1 align-self-center">
							<span class="duration"><span class="minutes">3</span><span>:</span><span class="seconds">51</span></span>
						</div>
					</div>
					<div class="row">
						<div class="col-1">
							<span><img class="likeButton" src="img/unlike.png"></img><img style="display: none;" class="unlike" src="img/like.png"></img></span>
							<span class="likeCount">12</span>
						</div>
						<div class="col-10">					
							<span>					
								<a href="#">Author</a>
							</span>
							<span>
								<h6 style="display:inline;"> - </h6>
							</span>
							<span>
								<a href="#">Track name</a>
							</span>
						</div>
						<div class="col-1 align-self-center">
						</div>
					</div>
				</div>
				<div style="display: none;" class="comments">
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>					
					<form>
						<input type="text" placeholder="Comment"></input>
						<button type="submit">send</button>
					</form>
				</div>
				<div class="row justify-content-center">
					<div class="center-block">
						<button class="moreComments">Show comments</button>
					</div>
				</div>
			</div>
			<div class="post">
				<div class="track">
					<div class="row">
						<div class="col-1"><img class="trackIcon" src="img/song.png"></img></div>
							<div class="col-1 align-self-center">
								<span class="controlButtons">
									<audio src="audio/14. The Last Thing I Wanna Do.mp3" preload="metadata" type="audio/mpeg"></audio>
									<img class="Play" src="img/playbutton.png"></img>
									<img style="display:none;" class="Pause" src="img/pause-button.png"></img>
								</span>
								<span class="timePassSpan">
									<span class="timePass"><span class="minutesPass">0</span><span>:</span><span class="secondsPass">0</span></span>
								</span>
							</div>						
						<div class="col-9 align-self-center">
							<div class="progressBar">
								<div style="width:0%" class="progressBarPassed">
									<!-- progress bar -->
								</div>
							</div>
						</div>
						<div class="col-1 align-self-center">
							<span class="duration"><span class="minutes">2</span><span>:</span><span class="seconds">27</span></span>
						</div>
					</div>
					<div class="row">
						<div class="col-1">
							<span><img class="likeButton" src="img/unlike.png"></img><img style="display: none;" class="unlike" src="img/like.png"></img></span>
							<span class="likeCount">12</span>
						</div>
						<div class="col-10">					
							<span>					
								<a href="#">Author</a>
							</span>
							<span>
								<h6 style="display:inline;"> - </h6>
							</span>
							<span>
								<a href="#">Track name</a>
							</span>
						</div>
						<div class="col-1 align-self-center">
						</div>
					</div>
				</div>
				<div style="display: none;" class="comments">
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>					
					<form>
						<input type="text" placeholder="Comment"></input>
						<button type="submit">send</button>
					</form>
				</div>
				<div class="row justify-content-center">
					<div class="center-block">
						<button class="moreComments">Show comments</button>
					</div>
				</div>
			</div>
			<div class="post">
				<div class="track">
					<div class="row">
						<div class="col-1"><img class="trackIcon" src="img/song.png"></img></div>
							<div class="col-1 align-self-center">
								<span class="controlButtons">
									<audio src="audio/15. Walk Away as the Door Slams (feat. Lil Tracy).mp3" preload="metadata" type="audio/mpeg"></audio>
									<img class="Play" src="img/playbutton.png"></img>
									<img style="display:none;" class="Pause" src="img/pause-button.png"></img>
								</span>
								<span class="timePassSpan">
									<span class="timePass"><span class="minutesPass">0</span><span>:</span><span class="secondsPass">0</span></span>
								</span>
							</div>						
						<div class="col-9 align-self-center">
							<div class="progressBar">
								<div style="width:0%" class="progressBarPassed">
									<!-- progress bar -->
								</div>
							</div>
						</div>
						<div class="col-1 align-self-center">
							<span class="duration"><span class="minutes">2</span><span>:</span><span class="seconds">40</span></span>
						</div>
					</div>
					<div class="row">
						<div class="col-1">
							<span><img class="likeButton" src="img/unlike.png"></img><img style="display: none;" class="unlike" src="img/like.png"></img></span>
							<span class="likeCount">12</span>
						</div>
						<div class="col-10">					
							<span>					
								<a href="#">Author</a>
							</span>
							<span>
								<h6 style="display:inline;"> - </h6>
							</span>
							<span>
								<a href="#">Track name</a>
							</span>
						</div>
						<div class="col-1 align-self-center">
						</div>
					</div>
				</div>
				<div style="display: none;" class="comments">
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>					
					<form>
						<input type="text" placeholder="Comment"></input>
						<button type="submit">send</button>
					</form>
				</div>
				<div class="row justify-content-center">
					<div class="center-block">
						<button class="moreComments">Show comments</button>
					</div>
				</div>
			</div>
			<div class="post">
				<div class="track">
					<div class="row">
						<div class="col-1"><img class="trackIcon" src="img/song.png"></img></div>
							<div class="col-1 align-self-center">
								<span class="controlButtons">									
									<audio src="audio/04. SAD!.mp3" preload="metadata" type="audio/mpeg"></audio>
									<img class="Play" src="img/playbutton.png"></img>
									<img style="display:none;" class="Pause" src="img/pause-button.png"></img>
								</span>
								<span class="timePassSpan">
									<span class="timePass"><span class="minutesPass">0</span><span>:</span><span class="secondsPass">0</span></span>
								</span>
							</div>						
						<div class="col-9 align-self-center">
							<div class="progressBar">
								<div style="width:0%" class="progressBarPassed">
									<!-- progress bar -->
								</div>
							</div>
						</div>
						<div class="col-1 align-self-center">
							<span class="duration"><span class="minutes">2</span><span>:</span><span class="seconds">46</span></span>
						</div>
					</div>
					<div class="row">
						<div class="col-1">
							<span><img class="likeButton" src="img/unlike.png"></img><img style="display: none;" class="unlike" src="img/like.png"></img></span>
							<span class="likeCount">12</span>
						</div>
						<div class="col-10">					
							<span>					
								<a href="#">Author</a>
							</span>
							<span>
								<h6 style="display:inline;"> - </h6>
							</span>
							<span>
								<a href="#">Track name</a>
							</span>
						</div>
						<div class="col-1 align-self-center">
						</div>
					</div>
				</div>
				<div style="display: none;" class="comments">
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>					
					<form>
						<input type="text" placeholder="Comment"></input>
						<button type="submit">send</button>
					</form>
				</div>
				<div class="row justify-content-center">
					<div class="center-block">
						<button class="moreComments">Show comments</button>
					</div>
				</div>
			</div>		
			<div class="row justify-content-center">			
				<div class="center-block">
					<button class="moreTracks">Show more</button>
				</div>
			</div>
			<br>
			<hr>
			</div>
			<div class="recent">
			<h5>Recent</h5>
			<div class="post">
				<div class="track">
					<div class="row">
						<div class="col-1"><img class="trackIcon" src="img/song.png"></img></div>
							<div class="col-1 align-self-center">
								<span class="controlButtons">
									<audio src="audio/03. Moonlight.mp3" preload="metadata" type="audio/mpeg"></audio>
									<img class="Play" src="img/playbutton.png"></img>
									<img style="display:none;" class="Pause" src="img/pause-button.png"></img>
								</span>
								<span class="timePassSpan">
									<span class="timePass"><span class="minutesPass">0</span><span>:</span><span class="secondsPass">0</span></span>
								</span>
							</div>						
						<div class="col-9 align-self-center">
							<div class="progressBar">
								<div style="width:0%" class="progressBarPassed">
									<!-- progress bar -->
								</div>
							</div>
						</div>
						<div class="col-1 align-self-center">
							<span class="duration"><span class="minutes">2</span><span>:</span><span class="seconds">15</span></span>
						</div>
					</div>
					<div class="row">
						<div class="col-1">
							<span><img class="likeButton" src="img/unlike.png"></img><img style="display: none;" class="unlike" src="img/like.png"></img></span>
							<span class="likeCount">12</span>
						</div>
						<div class="col-10">					
							<span>					
								<a href="#">Author</a>
							</span>
							<span>
								<h6 style="display:inline;"> - </h6>
							</span>
							<span>
								<a href="#">Track name</a>
							</span>
						</div>
						<div class="col-1 align-self-center">
						</div>
					</div>
				</div>
				<div style="display: none;" class="comments">
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>					
					<form>
						<input type="text" placeholder="Comment"></input>
						<button type="submit">send</button>
					</form>
				</div>
				<div class="row justify-content-center">
					<div class="center-block">
						<button class="moreComments">Show comments</button>
					</div>
				</div>
			</div>
			<div class="post">
				<div class="track">
					<div class="row">
						<div class="col-1"><img class="trackIcon" src="img/song.png"></img></div>
							<div class="col-1 align-self-center">
								<span class="controlButtons">
									<audio src="audio/06. Floor 555.mp3" preload="metadata" type="audio/mpeg"></audio>
									<img class="Play" src="img/playbutton.png"></img>
									<img style="display:none;" class="Pause" src="img/pause-button.png"></img>
								</span>
								<span class="timePassSpan">
									<span class="timePass"><span class="minutesPass">0</span><span>:</span><span class="secondsPass">0</span></span>
								</span>
							</div>						
						<div class="col-9 align-self-center">
							<div class="progressBar">
								<div style="width:0%" class="progressBarPassed">
									<!-- progress bar -->
								</div>
							</div>
						</div>
						<div class="col-1 align-self-center">
							<span class="duration"><span class="minutes">1</span><span>:</span><span class="seconds">33</span></span>
						</div>
					</div>
					<div class="row">
						<div class="col-1">
							<span><img class="likeButton" src="img/unlike.png"></img><img style="display: none;" class="unlike" src="img/like.png"></img></span>
							<span class="likeCount">12</span>
						</div>
						<div class="col-10">					
							<span>					
								<a href="#">Author</a>
							</span>
							<span>
								<h6 style="display:inline;"> - </h6>
							</span>
							<span>
								<a href="#">Track name</a>
							</span>
						</div>
						<div class="col-1 align-self-center">
						</div>
					</div>
				</div>
				<div style="display: none;" class="comments">
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>					
					<form>
						<input type="text" placeholder="Comment"></input>
						<button type="submit">send</button>
					</form>
				</div>
				<div class="row justify-content-center">
					<div class="center-block">
						<button class="moreComments">Show comments</button>
					</div>
				</div>
			</div>
			<div class="post">
				<div class="track">
					<div class="row">
						<div class="col-1"><img class="trackIcon" src="img/song.png"></img></div>
							<div class="col-1 align-self-center">
								<span class="controlButtons">
									<audio src="audio/05. the remedy for a broken heart (why am I so in love).mp3" preload="metadata" type="audio/mpeg"></audio>
									<img class="Play" src="img/playbutton.png"></img>
									<img style="display:none;" class="Pause" src="img/pause-button.png"></img>
								</span>
								<span class="timePassSpan">
									<span class="timePass"><span class="minutesPass">0</span><span>:</span><span class="secondsPass">0</span></span>
								</span>
							</div>						
						<div class="col-9 align-self-center">
							<div class="progressBar">
								<div style="width:0%" class="progressBarPassed">
									<!-- progress bar -->
								</div>
							</div>
						</div>
						<div class="col-1 align-self-center">
							<span class="duration"><span class="minutes">2</span><span>:</span><span class="seconds">40</span></span>
						</div>
					</div>
					<div class="row">
						<div class="col-1">
							<span><img class="likeButton" src="img/unlike.png"></img><img style="display: none;" class="unlike" src="img/like.png"></img></span>
							<span class="likeCount">12</span>
						</div>
						<div class="col-10">					
							<span>					
								<a href="#">Author</a>
							</span>
							<span>
								<h6 style="display:inline;"> - </h6>
							</span>
							<span>
								<a href="#">Track name</a>
							</span>
						</div>
						<div class="col-1 align-self-center">
						</div>
					</div>
				</div>
				<div style="display: none;" class="comments">
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>					
					<form>
						<input type="text" placeholder="Comment"></input>
						<button type="submit">send</button>
					</form>
				</div>
				<div class="row justify-content-center">
					<div class="center-block">
						<button class="moreComments">Show comments</button>
					</div>
				</div>
			</div>
			<div class="post">
				<div class="track">
					<div class="row">
						<div class="col-1"><img class="trackIcon" src="img/song.png"></img></div>
							<div class="col-1 align-self-center">
								<span class="controlButtons">
									<audio src="audio/15. changes.mp3" preload="metadata" type="audio/mpeg"></audio>
									<img class="Play" src="img/playbutton.png"></img>
									<img style="display:none;" class="Pause" src="img/pause-button.png"></img>
								</span>
								<span class="timePassSpan">
									<span class="timePass"><span class="minutesPass">0</span><span>:</span><span class="secondsPass">0</span></span>
								</span>
							</div>						
						<div class="col-9 align-self-center">
							<div class="progressBar">
								<div style="width:0%" class="progressBarPassed">
									<!-- progress bar -->
								</div>
							</div>
						</div>
						<div class="col-1 align-self-center">
							<span class="duration"><span class="minutes">2</span><span>:</span><span class="seconds">1</span></span>
						</div>
					</div>
					<div class="row">
						<div class="col-1">
							<span><img class="likeButton" src="img/unlike.png"></img><img style="display: none;" class="unlike" src="img/like.png"></img></span>
							<span class="likeCount">12</span>
						</div>
						<div class="col-10">					
							<span>					
								<a href="#">Author</a>
							</span>
							<span>
								<h6 style="display:inline;"> - </h6>
							</span>
							<span>
								<a href="#">Track name</a>
							</span>
						</div>
						<div class="col-1 align-self-center">
						</div>
					</div>
				</div>
				<div style="display: none;" class="comments">
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>
					<div class="comment">
						<div class="row">
							<div class="col-1"><img src="img/user.png"></img></div>
							<div class="col align-self-center"><a href="#">UserName</a></div>
						</div>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col">
								<p>commentcommentcommentcommentcommentcommentcommentcomment</p>
							</div>
						</div>
					<hr>
					</div>					
					<form>
						<input type="text" placeholder="Comment"></input>
						<button type="submit">send</button>
					</form>
				</div>
				<div class="row justify-content-center">
					<div class="center-block">
						<button class="moreComments">Show comments</button>
					</div>
				</div>
			</div>	
			<div class="row justify-content-center">			
				<div class="center-block">
					<button class="moreTracks">Show more</button>
				</div>
			</div>
			<br>
			<br>
			<br>
			<br>
			</div>			
		</div>		
		</div>
	</div>
	<!-- Other end -->
	
	<!-- Footer begin -->
	
	<div class="navbar-fixed-bottom">
		<div class="container">
			<div class="currentTrack">
				<div class="row">
					<div class="col-1 align-self-center"><img class="trackIcon" src="img/song.png"></img></div>
						<div class="col-1 align-self-center">
							<span class="controlButtons">
								<img class="playCurrentTrack" src="img/playbutton.png"></img>
								<img style="display:none;" class="pauseCurrentTrack" src="img/pause-button.png"></img>
							</span>
							<span class="timePassSpan">
								<span class="timePass"><span class="minutesPassCurrentTrack">0</span><span>:</span><span class="secondsPassCurrentTrack">0</span></span>
							</span>
						</div>
						<div class="col-6 align-self-center">
							<div class="progressBarCurrentTrack">
								<div style="width:0%" class="progressBarPassedCurrentTrack">
									<!-- progress bar -->
								</div>
							</div>
						</div>
					<div class="col-1 align-self-center">
						<span class="duration"><span class="minutesCurrentTrack">1</span><span>:</span><span class="secondsCurrentTrack">33</span></span>
					</div>
					<div class="col-2 align-self-center">
						<div>
							<a href="#" class="currentTrackAuthor">Author</a>
						</div>
						<div>
							<a href="#" class="currentTrackName">Track name</a>
						</div>
					</div>
					<div class="col-1 align-self-center">
						<span><img class="currentLikeButton" src="img/unlike.png"></img><img style="display: none;" class="currentUnlike" src="img/like.png"></img></span>
						<span class="currentLikeCount">12</span>
					</div>
				</div>
			</div>	
		</div>
	</div>

	<!-- Footer end -->
	</body>
</html>